.cover-image-upload-container {
  height: 40rem;
  margin: 0;
  width: 100%;

  background: url('/images/shared/image-upload-bg.jpg') no-repeat center center;
  background-size: cover;

  padding: 1rem;

  .upload-button-container {
    cursor: pointer;
    margin-top: 9rem;

    i.fa-picture-o {
      font-size: 10rem;
      color: #FFF;
    }
    .faux-upload-button {
      color: #FFF;
      cursor: pointer;
      font-size: 1.6rem;
      height: 4rem;
      width: 30rem;
      border: 2px solid #00C1D6;
      margin-top: 4rem;

      &:hover, &:active, &:focus {
        background-color: #00C1D6;
      }
    }
  }
}



.show-image-upload-container {
  .columns {
    background: #FFF;
  }

  button {

    color: #666;
    cursor: pointer;
    font-size: 1.6rem;
    height: 4rem;
    width: 30rem;
    border: 2px solid #00C1D6;
    margin-top: 4rem;

    &:hover, &:active, &:focus {
      background-color: #00C1D6;
      color: #FFF;
    }
  }
}