.full-height {
  height: 100%;
}

.color-primary {
  color: $color-primary;
}

.placeholder-row-dark {
  height: 50rem;
  background: $dark-gray;
}

.placeholder-row-light {
  height: 50rem;
  background: $light-gray;
}